.home{
    height: 100vh;
    width: 100vw;
    .bg-1{
        width: 100%;
        overflow-x: hidden;
        
        height: calc(100vh - 55px);
        background-repeat: no-repeat;
        background-size: 100% 100% !important;
        background: url('./../../assets/img/bg-1.jpg');
    }
    // .heading{
    //     background-color: orange;
    // }
}

.about{
    background-color: blueviolet;
}